{% load static %}

<div class="w-full grid grid-flow-col grid-rows-2 bg-stone-50">

    {% for Wel in welcomeIMG %}

        <div class="flex justify-center items-center h-screen overflow-hidden bg-white">

            <img class="w-250" src="{% static 'Logo/FPT.png' %}" alt="">

        </div>

        <div class="flex items-center justify-center grid grid-cols-2 gap-4">

            <div class="flex items-center justify-center">

                <img class="w-160" src="{{ Wel.IMG.url }}" alt="">

            </div>

            <div class="h-screen flex justify-center items-center shadow-md rounded-lg">

                <div class="border-2 border-dashed w-140 h-130 py-8 px-8 flex flex-col justify-center items-center gap-8 border-lime-600/20 rounded-md">

                    <div>

                        <h1 class="font-bold text-2xl">Login here</h1>

                    </div>

                    <div class="flex flex-col gap-6 w-120">

                        <input type="text" class="text-lime-600 focus:outline-none border-b-1 border-lime-500 placeholder:text-lime-600/40 placeholder:font-thin px-3" placeholder="Username">
                        <input type="password" class="text-lime-600 focus:outline-none border-b-1 border-lime-500 placeholder:text-lime-600/40 placeholder:font-thin px-3" placeholder="Password">

                    </div>

                    <div class="flex justify-between items-center w-120">

                        <div>

                            <input id="Rememberme" type="checkbox">
                            <label for="Rememberme">Remember me</label>

                        </div>

                        <div>

                            <a class="underline decoration-1 decoration-lime-500 text-lime-500" href="#">forget password</a>

                        </div>

                    </div>

                    <div class="flex flex-col justify-start items-strat w-110">

                        <button class="bg-lime-500 text-white px-8 py-2 rounded-md">Login</button>
                        <p class="text-center p-2 font-thin">Don't have an account <span><a href="#" class="underline decoration-1 decoration-lime-500 text-lime-500">Create account</a></span></p>

                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

</div>