{% load static %}

<!DOCTYPE html>
<html lang="en">

    <title>FPT | Post Page</title>
    {% include "Pages/Include/Header/Head.html" %}

    <style>

        .PublishIMGBack {
            width: 100%;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('{% static "Image/PublishPageBackground/PublishBack.jpg" %}');
        }

    </style>

<body class="PublishIMGBack">

    <div class="w-1/2">

        <div>

            <form class="flex flex-col" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ Publish_Form_Context.Title }}
                {{ Publish_Form_Context.Discription }}
                {{ Publish_Form_Context.Publish_IMG }}
                {{ Publish_Form_Context.working_fields }}

                <button type="submit" class="hover:scale-105 transition delay-150 duration-300 ease-in-out bg-emerald-500 text-white p-3 rounded-sm font-semibold" >Upload</button>

            </form>

        </div>

    </div>
    
</body>
</html>