{% load static %}

<!DOCTYPE html>
<html lang="en">

    <title>FPT | Create Account</title>

    {% include "Include/IndexHead.html" %}

<body>

    <div class="w-screen h-screen bg-sky-50 grid grid-cols-2">

        <div>

            <img class="w-120" src="{{ accountCreate.IMG.url }}" alt="">

        </div>

        <div class="flex justify-center items-strat py-8">

            <div>

                <p>Create Account</p>

                <div class="w-full flex flex-col gap-6">

                    <form method="post">

                        {% csrf_token %}

                        <div class="w-140 p-5 flex flex-col justify-center items-center gap-4">

                            <div class="w-full flex justify-between items-center gap-4">

                                {{ signup.first_name }}
                                {{ signup.last_name }}

                            </div>

                            <div class="w-full">

                                {{ signup.username }}

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
    
</body>
</html>