{% load static %}

<!DOCTYPE html>
<html lang="en">

    <title>FPT | Freelancer</title>

    {% include "Pages/Include/Header/Head.html" %}

<body>
    
    <div class="bg-emerald-50 w-full h-dvh bg-green-50 overflow-hidden">

        <div>

            {% include "Pages/Include/Freelancers Category/navbar.html" %}

        </div>

        <div class="mt-6 ml-4 h-full w-full">

            <div class="h-9/10">

                {% include "Pages/Include/Freelancers Category/FreelancerSidebar.html" %}

            </div>

        </div>

    </div>

</body>
</html>