{% load static %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT | Freelancer Project Tracker</title>

    {% comment %} TaillWind Link {% endcomment %}

    <link rel="stylesheet" href="{% static 'dist/MainCss.css' %}">

    {% comment %} Logo Fav Icon {% endcomment %}

    <link rel="shortcut icon" type="x-icon" href="{% static 'Logo/FPT PNG.png' %}">

    {% comment %} Font Link {% endcomment %}

    <link rel="stylesheet" href="{% static 'Font/font.css' %}">

    {% comment %} Google Font {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>