{% load static %}

<div class="h-9/10 bg-white rounded-xl">

    <div>

        <div class="p-4">

            <div>

                <p class="text-xl font-bold p-2">Follow Suggetion @{{ request.user.username }}</p>
                
                <div class="flex-cols justify-evenly items-center p-3">

                    <div class="flex justify-evenly items-center">

                        <div class="flex-col">

                            <p class="text-center font-bold">{{ user.followers.count }}</p>
                            <p class="font-extralight text-xs">Posts</p>

                        </div>

                        <div class="flex-col">

                            <p class="text-center font-bold">{{ user.followers.count }}</p>
                            <p class="font-extralight text-xs">Followers</p>

                        </div>

                        <div class="flex-col">

                            <p class="text-center font-bold">{{ user.followers.count }}</p>
                            <p class="font-extralight text-xs">Following</p>

                        </div>

                    </div>

                    <div class="text-center pt-2">

                        <p>{{ profile.note_forms }}</p>

                    </div>
                    
                </div>

                {% for image in images %}

                    <div class="flex flex-row justify-start items-center border-b border-emerald-200 rounded-l-lg">

                        <div class="p-3 flex justify-center">

                            <img class="w-10 h-10 rounded-full object-cover" src="{{ image.user_profile_img.url }}" alt="">

                            {% if image.is_online %}

                                <i class="fa-solid fa-circle text-green-400 text-xs"></i>

                            {% else %}

                                <i class="fa-solid fa-circle text-zinc-500 text-xs"></i>

                            {% endif %}

                        </div>

                        <div>

                            <p class="m-0 font-semibold">{{ image.user.first_name }} {{ image.user.last_name }}</p>
                            <p class="text-xs text-zinc-500">@{{ image.user.username }}</p>

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>