<div class="overflow-auto">

    <div>

        <div class="w-5/6 h-25 bg-white m-5 flex justify-center items-center">

            <div class="grid grid-cols-[1fr_1fr_1fr] justify-center items-center gap-1 overflow-hidden">

                <div class="flex justify-center items-center gap-4">

                    {% if profile_img.user_profile_img %}

                        <img class="w-15 h-15 rounded-full object-cover" src="{{ profile_img.user_profile_img.url }}" alt="">
                        
                    {% endif %}
                        
                    <div>

                        <p class="font-semibold">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        <p class="text-xs text-zinc-500">{{ request.user.working_fields }}</p>

                    </div>

                </div>

                <div class="w-100">

                    <form method="post" class="relative">

                        {% csrf_token %}
                        {{ forms_note.note_forms }}

                        <div class="absolute right-3 top-1/2 -translate-y-1/2">

                            <button type="submit" class="cursor-pointer"><i class="fa-solid fa-arrow-left text-xl rotate-180 text-green-800"></i></button>

                        </div>

                    </form>

                </div>

                <div class="p-5">

                    <a href="{% url 'PublishPage' request.user.username %} "><button class="hover:scale-105 transition delay-150 duration-300 ease-in-out bg-emerald-500 text-white p-3 rounded-sm font-semibold">Share with world!!</button></a>

                </div>

            </div>

        </div>
        
        <div class="w-5/6 bg-white m-5 flex flex-col justify-start items-start">

            <h3 class="text-2xl font-semibold font-stretch-condensed p-5">FPT | Latest Posts</h3>

            {% for Displaying_Post in Displaying %}

                <div class="p-4 flex flex-col">

                    <div class="w-full h-125 flex justify-center items-center">

                        <img class="bg-cover" src="{{ Displaying_Post.Publish_IMG.url }}" alt="">

                    </div>

                    <div class="">

                        <!-- Profile info container -->
                        <div class="flex justify-start items-center gap-2 p-4">

                            <div>

                                <img class="w-10 h-10 rounded-full object-cover" src="{{ Displaying_Post.profile.user_profile_img.url }}" alt="Profile Image">

                            </div>

                            <div>

                                <div>

                                    <p class="m-0 text-sm font-semibold">{{ Displaying_Post.profile.user.first_name }} {{ Displaying_Post.profile.user.last_name }}</p>

                                </div>

                                <p class="m-0 text-xs text-gray-500">@{{ Displaying_Post.profile.user.username }}</p>

                            </div>

                            <div class="flex justify-start items-center">

                                <hr class="bg-Gray-700 rotate-90 w-10">

                            </div>

                            <div>

                                <p class="text-xl">{{ Displaying_Post.Title }}</p>
                                <p class="text-sm font-semibold">{{ Displaying_Post.profile.user.working_fields }}</p>

                            </div>

                        </div>

                        <!-- Discription Container -->
                        <div class="w-5/6">

                            <p class="text-sm pl-4 font-extralight">{{ Displaying_Post.Discription }}</p>

                        </div>

                        <!-- Like & View Container -->
                        <div class="w-5/6 p-4 flex justify-start items-center">

                            <div class="w-20 flex justify-center items-center gap-2">

                                <i class="fa-solid fa-heart text-2xl"></i>
                                <p>34</p>

                            </div>

                            <div class="w-20 flex justify-center items-center gap-2">

                                <i class="fa-solid fa-eye text-2xl"></i>
                                
                                <p>{{ Displaying_Post.view }}</p>

                            </div>

                        </div>

                    </div>

                    <div class="w-full flex justify-center items-center p-2">

                        <hr class="w-5/6 opacity-10">

                    </div>
                    
                </div>

            {% endfor %}

        </div>

    </div>

</div>