{% load static %}

<div class="h-9/10 w-1/5 bg-white rounded-xl">

    <div>

        <div class="p-4">

            <div>

                <p>Follow Suggetion @{{ request.user.username }}</p>

                {% for image in images %}

                    <div class="flex flex-row justify-start items-center">

                        <div class="p-3">


                            <img class="w-10 h-10  rounded-full object-cover" src="{{ image.user_profile_img.url }}" alt="">

                        </div>

                        <div>

                            <p class="m-0">{{ image.user.first_name }} {{ image.user.last_name }}</p>
                            <p class="text-xs text-zinc-500">@{{ image.user.username }}</p>

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>