{% load static %}

<div class="h-9/10 w-1/5 bg-white rounded-xl">

    <div>

        <h1>Hellow</h1>

        <div>

            <div>

                <p>Follow Suggetion @{{ request.user.username }}</p>

                {% for image in images %}

                    <div class="">

                        <img class="w-10 h-10  rounded-full object-cover" src="{{ image.user_profile_img.url }}" alt="">

                        <p>@{{ image.user.username }} {{ image.user.id }}</p>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>