<div>

    <div>

        <div class="w-5/6 h-25 bg-white m-5 flex justify-start items-center">

            <div class="grid grid-cols-[1fr_1fr] justify-center items-center gap-1">

                <div class="flex justify-center items-center gap-4">

                    {% if profile_img.user_profile_img %}

                        <img class="w-15 h-15 rounded-full object-cover" src="{{ profile_img.user_profile_img.url }}" alt="">
                        
                    {% endif %}
                        
                    <div>

                        <p class="font-semibold">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        <p class="text-xs text-zinc-500">{{ request.user.working_fields }}</p>

                    </div>

                </div>

                <div class="w-50">

                    <form method="post" class="relative">

                        {% csrf_token %}
                        {{ forms_note.note_forms }}

                        <div class="absolute right-3 top-1/2 -translate-y-1/2">

                            <button type="submit" class="cursor-pointer"><i class="fa-solid fa-arrow-left text-xl rotate-180 text-green-800"></i></button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>