{% load static %}

<div class="Main_nav_bar w-full h-20 bg-white flex justify-between items-center shadow-md shadow-emerald-100 fixed top-0 left-0">

    <div class="Profile_Pic grid grid-cols-[1fr_200px_1fr] gap-10 pl-3 justify-center items-center">

        <div class="flex justify-evenly items-center gap-30">

            <div class="flex justify-evenly items-center gap-5">

                <a href="{% url 'update' request.user.id %}"><div>

                    {% if profile_img.user_profile_img %}
                    
                    <img class="mask-radial-at-center mask-radial-from-100% mask-r-from-30% w-17 " src="{{ profile_img.user_profile_img.url }}" alt="">
                    
                    {% else %}

                        <h2>Profile</h2>

                    {% endif %}

                </div></a>

                <div class="w-90 flex gap-2">

                    <h2 class="roboto_condensed_Semilight">{{ request.user.first_name }} {{ request.user.last_name }} |</h2>

                    <h2 class="font-semibold">{{ request.user.working_fields }}</h2>

                </div>

            </div>

            <div class="flex justify-evenly items-center">

                <div class="relative w-90">

                    <input type="text" class="w-90 h-10 border-none focus:outline-none p-3 bg-emerald-100 rounded-md" name="" id="">

                    <div class="absolute right-3 top-1/2 -translate-y-1/2">

                        <i class="fa-solid fa-magnifying-glass"></i>

                    </div>

                </div>

            </div>
            
        </div>

        <div class="w-40 flex justify-evenly">

            <i class="fa-solid fa-house text-2xl"></i>

            <i class="fa-solid fa-user-group text-2xl"></i>

            <i class="fa-solid fa-message text-2xl"></i>

        </div>

        <div class="flex justify-start items-center w-80">

            <div>

                <hr class="border-s-4 w-13 rotate-90">

            </div>

            <div>

                <button class="roboto_condensed_black bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 pt-2 pb-2 pl-5 pr-5 rounded-lg text-white cursor-progress">Comming Soon</button>

            </div>

        </div>

    </div>

</div>